ul {
  padding: 0px;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
height: 40px;
text-align: center;
  border-color: blueviolet;
}
.photo-card {
  border: solid 2px blueviolet;
}
.gallery-item {
 display: block;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.gallery {
  display: grid;
    grid-template-columns: repeat(auto-fill,minmax(380px,2fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    list-style: none;
}

.image {
  height: 360px;
  object-fit: cover;
  max-width: 100%;
}

.stats {
display: flex;
justify-content: space-around;
}
.btn {
  width: 200px;
height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: blueviolet;
  font-weight: bold;
}
.search-form {
  margin-left: auto;
  margin-right: auto;
}